In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'NuoiDuong6T1': 'Int64',
    'NuoiDuong6T2': 'Int64',
    'NuoiDuong6T3': 'Int64',
    'NuoiDuong6T4': 'Int64',
    'NuoiDuong6T5': 'Int64',
}

labels = {
    1: 'suame',
    2: 'suacongthuc',
    3: 'andam',
}

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
nd = util.multiple_response(df, prefix='NuoiDuong6T', labels=labels, wide=True)
# dtbs[(dtbs.DTBS != 0)]
nd.to_excel(inter / 'nuoiduong6t.xlsx')

In [4]:
nd.index.name = 'V1'
nd

        andam  suacongthuc  suame
V1
219001      0            0      1
219002      0            1      1
219003      0            1      1
219004      0            0      1
219005      0            1      0
...       ...          ...    ...
519089      0            1      1
519171      0            0      1
519172      0            0      1
520017      0            1      1
520018      0            0      1

[335 rows x 3 columns]