In [2]:
import pandas as pd
from pathlib import Path

In [3]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
s = 'TANong	TAChua	TACay	TASong	TANuong	TAHanhToi	TADuongPho	TAHangQuan	TANhanh	AnBoc	AnVat	AnChung	UongChung	ChamChung	GapChung'
k = s.split('	')
v = ['Int64']*64
dtype = {k:v for (k, v) in zip(s.split('	'), v)}
dtype['V1'] = 'string'

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
    index_col = 'V1'
)

In [19]:
df[df.isna().any(axis=1)]

,TANong,TAChua,TACay,TASong,TANuong,TAHanhToi,TADuongPho,TAHangQuan,TANhanh,AnBoc,AnVat,AnChung,UongChung,ChamChung,GapChung
V1,,,,,,,,,,,,,,,
519001,0,1,0,0,1,0,1,2,1,0,<NA>,1,1,1,1
519012,0,0,0,0,1,0,1,0,<NA>,0,1,0,1,1,1
519034,0,0,0,0,0,0,0,0,3,0,0,1,1,<NA>,0
319214,3,1,<NA>,0,1,0,0,1,1,0,0,1,0,0,0
319212,0,0,0,0,0,0,0,1,1,<NA>,1,0,0,0,0
319219,<NA>,0,0,0,2,0,1,0,1,0,2,0,0,1,1
319221,1,1,1,0,1,0,1,1,1,<NA>,2,0,1,1,1
319238,<NA>,2,<NA>,0,2,0,<NA>,3,2,0,2,0,0,1,1
519079,0,0,0,0,<NA>,0,0,0,0,0,3,0,1,0,0

In [5]:
df.to_excel(inter / 'form2b.xlsx')