In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'DauBungKieu1': 'Int64',
    'DauBungKieu2': 'Int64',
    'DauBungKieu3': 'Int64',
    'DauBungKieu4': 'Int64',
    'DauBungKieu5': 'Int64',
}

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form3.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
df1 = util.multiple_response(df, prefix='DauBungKieu', wide=True)
df1.to_excel(inter / 'daubungkieu.xlsx')

In [4]:
df1

        1   2   3   98
V1
219001   0   1   0   0
219002   1   1   0   0
219003   1   0   0   0
219004   1   0   0   0
219005   1   0   0   0
...     ..  ..  ..  ..
519089   1   0   0   0
519171   1   0   0   0
519172   1   0   0   0
520017   1   0   1   0
520018   1   0   0   0

[319 rows x 4 columns]