In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'DTBS1': 'Int64',
    'DTBS2': 'Int64',
    'DTBS3': 'Int64',
    'DTBS4': 'Int64',
    'DTBS5': 'Int64',
}

labels = {
    0: 'khong',
    1: 'thoatviron',
    2: 'hohamech',
}

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
dtbs = util.multiple_response(df, prefix='DTBS', labels=labels, wide=True)
# dtbs[(dtbs.DTBS != 0)]
dtbs.to_excel(inter / 'dtbs.xlsx')

In [4]:
dtbs.index.name = 'V1'
dtbs

        hohamech  khong  thoatviron
V1
219001         0      1           0
219002         0      1           0
219003         0      1           0
219004         0      1           0
219005         0      1           0
...          ...    ...         ...
519089         0      1           0
519171         0      1           0
519172         0      1           0
520017         0      1           0
520018         0      1           0

[335 rows x 3 columns]