In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'SongChung1': 'Int64',
    'SongChung2': 'Int64',
    'SongChung3': 'Int64',
    'SongChung4': 'Int64',
    'SongChung5': 'Int64',
    'SongChung6': 'Int64',
    'SongChung7': 'Int64',
    'SongChung8': 'Int64',
    'SongChung9': 'Int64',
}

# labels = {
#     0: 'khong',
#     1: 'thoatviron',
#     2: 'hohamech',
# }

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
df1 = util.multiple_response(df, prefix='SongChung', wide=True)
# dtbs[(dtbs.DTBS != 0)]
df1.to_excel(inter / 'songchung.xlsx')

In [5]:
df1

        1   2   3   4   5   6   7   8   9   10  11  12  13  14  16  17  18  19
V1
219004   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
219005   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
219006   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
219007   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
219008   0   0   1   1   0   0   1   0   0   0   0   0   0   0   1   1   0   0
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
519089   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
519171   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
519172   1   1   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
520017   1   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
520018   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[326 rows x 18 columns]