In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'OiBuaAn1': 'Int64',
    'OiBuaAn2': 'Int64',
    'OiBuaAn3': 'Int64',
    'OiBuaAn4': 'Int64',
    'OiBuaAn5': 'Int64',
}


df = pd.read_csv(
    ext / 'prd_v2.0.0_Form3.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
df1 = util.multiple_response(df, prefix='OiBuaAn', wide=True)
df1.to_excel(inter / 'oibuaan.xlsx')

In [4]:
df1

        0  1  2  3
V1
219002  0  0  1  0
219003  1  0  0  0
219006  0  0  1  0
219010  0  0  0  1
319002  1  0  0  0
...    .. .. .. ..
519081  0  0  0  1
519083  0  0  0  1
519086  0  1  0  0
519088  1  0  0  0
520018  0  0  0  1

[111 rows x 4 columns]