In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'TCKhac1': 'Int64',
    'TCKhac2': 'Int64',
    'TCKhac3': 'Int64',
    'TCKhac4': 'Int64',
    'TCKhac5': 'Int64',
    'TCKhac6': 'Int64',
    'TCKhac7': 'Int64',
    'TCKhac8': 'Int64',
    'TCKhac9': 'Int64',
    'TCKhac10': 'Int64',
    'TCKhac11': 'Int64',
    'TCKhac12': 'Int64',
    'TCKhac13': 'Int64',
}

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form3.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
df1 = util.multiple_response(df, prefix='TCKhac', wide=True)
df1.to_excel(inter / 'tckhac.xlsx')

In [4]:
# foo = df1.reset_index().set_index(['V1','TCKhac'])
# foo['foo'] = 1
# foo.unstack()
# pd.crosstab(df1.index, df1['TCKhac'])
df1

,0,5,6,8,9,10,11,13,14,15,16,17,18,19,20,22,23,24,25,26
V1,,,,,,,,,,,,,,,,,,,,
219001,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
219002,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
219003,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0
219004,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0
219005,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519089,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
519171,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
519172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
520017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
520018,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0